ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    font-family: "Montserrat";
}
li{
    float:right;
}
li a{
    
    display: block;
    color: white;
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: 1.2rem;
}
.navbar2{
    background-color: grey;
    
}
.navbar2 a{
    color: grey;
}
.header{
    background: url("Travelbanner.png");
    background-repeat: no-repeat;
    background-color: #FF5757;
    background-position: 0 -5100px;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-size: 40px;
    text-align: center;
}
